:80 {
    root * /usr/share/caddy
    file_server

    handle /api/* {
        reverse_proxy backend:8081
    }

    handle /live/* {
        uri strip_prefix /live
        reverse_proxy host.docker.internal:8888
    }
    handle_path /live/* {
        reverse_proxy host.docker.internal:8888 {
            header_up Host {host}
            header_up X-Real-IP {remote_host}
        }
        
        header {
            Access-Control-Allow-Origin *
            @m3u8 path *.m3u8
            header @m3u8 Cache-Control "no-cache, no-store, must-revalidate"
        }
    }

    handle /* {
        try_files {path} /index.html
    }
}
