:80 {
    root * /usr/share/caddy
    file_server

    handle /api/* {
        reverse_proxy backend:8081
    }

    handle /live/* {
        uri strip_prefix /live
        reverse_proxy host.docker.internal:8888
    }

    handle /* {
        try_files {path} /index.html
    }
}
